

<table class="table table-bordered table-condensed">
  <thead>
    <tr>	
      <th><p>Project</p></th>
      <th><p>Hours</p></th>
    </tr>
  </thead>
  <tbody>
	<% @project_sum_array.each do |p| %>
    <tr>
      	<td> <%= p[0] %> </td>
      	<td> <%= p[1] %> </td>
    </tr>

	<% end %>
  </tbody>
</table>


<table class="table table-bordered table-condensed">
  <thead>
    <tr>	
      <th><p>Employee</p></th>
      <th><p>Hours</p></th>
    </tr>
  </thead>
  <tbody>
	<% @employee_sum_array.each do |e| %>
    <tr>
      	<td> <%= e[0] %> </td>
      	<td> <%= e[1] %> </td>
    </tr>

	<% end %>
  </tbody>
</table>