<div class="container mainpage"><div class="row">
  
  <div class="leftside span8">
    
    <div class="newentry">
      <form class="form-inline">
        <select class="span2" name="project">
          <option value="User1">User1</option>
          <option value="User2">User2</option>
          <option value="User3">User3</option>
          <option value="User4">User4</option>
          <option value="User5">User5</option>
        </select>
        <select class="span2" name="project">
          <option value="Project1">Project1</option>
          <option value="Project2">Project2</option>
          <option value="Project3">Project3</option>
          <option value="Project4">Project4</option>
          <option value="Project5">Project5</option>
          <option value="Project6">Project6</option>
          <option value="Project7">Project7</option>
          <option value="Project8">Project8</option>
          <option value="Project9">Project9</option>
          <option value="Project10">Project10</option>
          <option value="Project11">Project11</option>
        </select>
        <input class="span2" type="date" name="entrydate" id="entrydate" placeholder="8/4/2012">
        <input class="span2" type="text" name="hours" id="hours" placeholder="hours">
        <input class="span6" type="text" name="note" id="note" placeholder="note">
        <input type="submit" name="submitentry" id="submitentry" class="btn btn-warning" value="Submit">
      </form>        
    </div><!-- NewEntry -->

    <div class="viewselect">
      <select class="span2" name="project">
        </i><option value="Entries">Entries</option>
        </i><option value="Calendar">Calendar</option>
        </i><option value="Trends">Trends</option>
      </select>
    </div><!-- ViewSelect -->
    
    <div class="details">

      <!-- Project List -->
			<table class="table table-bordered table-condensed">
			  <thead>
			    <tr>
			      <th><p>Date</p></th>
				    <th><p>User</p></th>
			      <th><p>Project</p></th>
				    <th><p>Hours</p></th>
			      <th><p>Description</p></th>
				    <th class="edit"><p>Edit</p></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>6/20/2012</td>
			      <td>euggra</td>
				    <td>1871 App</td>
				    <td>0.3</td>
  				  <td>Interviewed for the team to work evenings/weekends @ 1871</td>
  				  <td>
  				    <a href="#" class="tips" rel="tooltip" title="Edit Entry"><i class="icon-pencil"></i></a>
  				    <a href="#" class="tips" rel="tooltip" title="Delete Entry"><i class="icon-remove"></i></a>
            </td>
			    </tr>
			    <tr>
			      <td class="entriesdate">6/20/2012</td>
			      <td class="entriesuser">euggra</td>
  				  <td>ClockRaven</td>
  				  <td>1</td>
  				  <td>Changed the table feature on projectlist.html page to an actual html table instead of a number of divs (that were impossible to control)</td>
  				  <td>
  				    <a href="#" class="tips" rel="tooltip" title="Edit Entry"><i class="icon-pencil"></i></a>
  				    <a href="#" class="tips" rel="tooltip" title="Delete Entry"><i class="icon-remove"></i></a>
            </td>
			    </tr>
			    <tr>
			      <td>6/30/2012</td>
			      <td>mmosche</td>
				    <td>CLSC</td>
				    <td>8</td>
  				  <td>Sat in class ALLLL DAYYY on a saturday and learned about staying lean (in a company sense of the word)</td>
  				  <td>
  				    <a href="#" class="tips" rel="tooltip" title="Edit Entry"><i class="icon-pencil"></i></a>
  				    <a href="#" class="tips" rel="tooltip" title="Delete Entry"><i class="icon-remove"></i></a>
            </td>
			    </tr>
			  </tbody>
			</table>
    </div><!-- details -->
  
  </div><!-- LeftSide -->

  <div class="RightSide span4">
    
    <div class="feedback">
      
      <fieldset>
        <legend>username</legend>
        <div class="row">
          <div class="span1"><p>Week</p></div>
          <div class="span2 progress progress-striped progress-warning"><div class="bar" style="width: 55%;"></div></div>
          <div class="displaypercent"><p>55%</p></div>
        </div>
        <div class="row">
          <div class="span1"><p>Month</p></div>
          <div class="span2 progress progress-striped progress-warning"><div class="bar" style="width: 80%;"></div></div>
          <div class="displaypercent"><p>80%</p></div>
        </div>
        <div class="row">
          <div class="span1"><p>Year</p></div>
          <div class="span2 progress progress-striped progress-warning"><div class="bar" style="width: 65%;"></div></div>
          <div class="displaypercent"><p>65%</p></div>
        </div>
      </fieldset>
    </div><!-- Feedback --> 

    
    <div class="filterdata">
      <div class="row">
        <form class="form-inline">
          <label class="span1" for="startdate">From</label>
          <input class="span1" type="date" name="startdate" id="startdate">
          <label class="span1" for="endate">To</label>
          <input class="span1" type="date" name="enddate" id="enddate">
         </form>
      </div>
      <div class="projectlist row">
        <div class="span2">
          <label><input type="checkbox" name="project" value="Project1"> Project1</label>
          <label><input type="checkbox" name="project" value="Project2"> Project2</label>
          <label><input type="checkbox" name="project" value="Project3"> Project3</label>          
          <label><input type="checkbox" name="project" value="Project4"> Project4</label>
          <label><input type="checkbox" name="project" value="Project5"> Project5</label>          
          <label><input type="checkbox" name="project" value="Project6"> Project6</label>
          <label><input type="checkbox" name="project" value="Project7"> Project7</label>
          <label><input type="checkbox" name="project" value="Project8"> Project8</label>          
          <label><input type="checkbox" name="project" value="Project9"> Project9</label>          
          <label><input type="checkbox" name="project" value="Project10"> Project10</label>                    
          <label><input type="checkbox" name="project" value="Project11"> Project11</label>                     
        </div>
        <div class="span2">
          <label><input type="checkbox" name="user" value="User1"> User1</label>
          <label><input type="checkbox" name="user" value="User2"> User2</label>
          <label><input type="checkbox" name="user" value="User3"> User3</label>          
          <label><input type="checkbox" name="user" value="User4"> User4</label>
          <label><input type="checkbox" name="user" value="User5"> User5</label>          
          <label><input type="checkbox" name="user" value="User6"> User6</label>
          <label><input type="checkbox" name="user" value="User7"> User7</label>
          <label><input type="checkbox" name="user" value="User8"> User8</label>                              
        </div>
      </div>
    </div><!-- FilterData -->
  
  </div><!-- RightSide -->
</div></div><!--/.container-fluid, row-->
