// update table sum
$("#entrytable_sum").html("<p class='totalrow'><%= escape_javascript( @hrs_sum.to_s) %> hours</p>");

// update calendar & calendar sum
$("#entrycalendar").html("<%= escape_javascript( render('entries/entries_calendar') )%>");
$("#entrycalendar_sum").html("<p class='totalrow'><%= escape_javascript( @cal_month_sum.to_s) %> hours</p>");
