// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titleitem {
  text-decoration: underline;
  text-align: center;
}

.datatable {
  margin-left: 10px;
  padding: 15px;
  border-top: 1px solid #D0D2D5;
  border-right: 1px solid #D0D2D5;
  border-bottom: 1px solid #D0D2D5;
}

.formfilter {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  border-top: 1px solid #D0D2D5;
  border-left: 1px solid #D0D2D5;
  border-bottom: 1px solid #D0D2D5;
  
}

.feedbackbox {
  padding-left: 10px;
  border-right: 1px solid #D0D2D5;
}